<!DOCTYPE html>
<html>

<head>
    <title>Dettaglio Squadra</title>
    <link rel="stylesheet" href="/css/stile.css">
</head>

<body>
    <h1 th:text="${team.name}">Lamezia Terme FC</h1>

    <div>
        Anno di Fondazione: <span th:text="${team.yearOfFoundation}">2001</span>
    </div>

    <div>
        Città: <span th:text="${team.city}">Lamezia Terme</span>
    </div>

    <section class="players-section">
        <h2>Giocatori</h2>
        <div class="flex-container">
            <div class="card" th:each="p:${players}">
                <h3 th:text="${p.firstName} + ' ' + ${p.lastName}">Mario Rossi</h3>
                <p><strong>Data di nascita:</strong> <span
                        th:text="${#temporals.format(p.dateOfBirth, 'dd/MM/yyyy')}">01/01/2001</span></p>
                <p><strong>Altezza:</strong> <span th:text="${p.height}">1.75</span></p>
                <p><strong>Ruolo:</strong> <span th:text="${p.role}">Centrocampista</span></p>
            </div>
        </div>
    </section>

    <div sec:authorize="hasAuthority('ADMIN')">
        <form th:action="@{/admin/teams/{id}/edit(id=${team.id})}" method="POST">
            <button type="submit">Modifica</button>
        </form>
    </div>

    <div sec:authorize="hasAuthority('ADMIN')">
        <form th:action="@{/admin/teams/{id}/delete(id=${team.id})}" method="POST"
            onsubmit="return confirm('Sei sicuro di voler eliminare questa squadra? I giocatori verranno svincolati.');">
            <button type="submit" class="btn-cancella">Elimina</button>
        </form>
    </div>
</body>

</html>