<!DOCTYPE html>
<html>

<head>
    <title>Torneo</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>

<body>
    <h1 th:text="${tournament.name}">Genitori contro Figli</h1>
    <div>
        Anno: <span th:text="${tournament.year}">2001</span>
    </div>
    <div>
        Descrizione: <span th:text="${tournament.description}">sotto la panca</span>
    </div>
    <h2>
        <a th:href="@{'/tournaments/' + ${tournament.id} + '/participants'}">Lista delle squadre partecipanti</a>
    </h2>
    <h2>
        <a th:href="@{'/tournaments/' + ${tournament.id} + '/calendar'}">Calendario delle partite</a>
    </h2>
    <h2>
        <a th:href="@{'/tournaments/' + ${tournament.id} + '/classification'}">Classifica del torneo</a>
    </h2>
</body>

</html>