<!DOCTYPE html>
<html>

<head>
    <title>SiwFootball - Home</title>
    <link rel="stylesheet" href="/css/stile.css">
    <span th:if="${userDetails != null}">
        Sei loggato come: <b th:text="${userDetails.username}"></b>
    </span>
    <span th:if="${userDetails == null}">
        Non sei loggato
    </span>
</head>

<body>
    <h1>
        <a href="/tournaments">Lista Tornei</a>
    </h1>

    <h1>
        <a href="/teams">Lista Squadre</a>
    </h1>

    <h1>
        <a href="/games">Lista Partite</a>
    </h1>

    <h1>
        <a href="/players">Lista Giocatori</a>
    </h1>

    <h1>
        <a href="/login">Accedi</a>
    </h1>

    <h1>
        <a href="/register">Registrati</a>
    </h1>
</body>

</html>