<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">

<head>
    <title>Commenti</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>

    <!-- aggiungere commento loggati -->
    <div sec:authorize="hasAnyAuthority('USER','ADMIN')">
        <a th:href="@{'/games/' + ${game.id} + '/comments/new'}"> Aggiungi commento</a>
    </div>

    <hr />

    <!--lista vuota -->
    <div th:if="${#lists.isEmpty(comments)}">
        <p>Nessun commento</p>
    </div>

    <!-- la lista non è vuota -->
    <div th:each="c : ${comments}">
        <p th:text="${c.text}"></p>
        <small>
            scritto da: <span th:text="${c.author.username}"></span>--
        </small>

        <br />

        <!-- modifica se mio commento, non metto protezione perche i non loggati non possono nemmeno vedere i commenti-->

        <a sec:authorize="${#authentication.name == c.author.username}"
            th:href="@{'/games/' + ${game.id} + '/comments/' + ${c.id} + '/edit'}">
            Modifica
        </a>


    </div>

    <a th:href="@{'/'}">Home</a>

</body>

</html>