<!DOCTYPE html>
<html>

<head>
    <title>Modifica Torneo</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <h1>Modifica il torneo</h1>
    <form th:action="@{/admin/tournaments/{id}/edit(id=${tournament.id})}" method="post" th:object="${tournament}">
        <div>
            Nome: <span><input type="text" th:field="*{name}" /></span>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message"></span>
        </div>

        <div>
            Anno: <span><input type="text" th:field="*{year}" /></span>
            <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="error-message"></span>
        </div>

        <div>
            Descrizione: <span><input type="text" th:field="*{description}" /></span>
        </div>

        <div>
            <span><button type="submit">Salva</button></span>
        </div>
    </form>
</body>

</html>